*:not(i) {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
*:not(input) {
  cursor: default;
}
body {
  min-height: 100vh;
  overflow: hidden;
}
.desktop {
  min-height: 99vh;
  width: 100%;
  background: url(../imgs/thumb-1920-321927.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(23, 80px);
  grid-template-rows: repeat(17, 64px);
  grid-column-gap: 0.2rem;
  align-items: flex-start;
}
.desktop .app {
  z-index: 1;
  width: 5rem;
  padding: 0.2rem 0.5rem;
  flex-direction: column;
  border: 2px solid transparent;
  margin-bottom: 0.3rem;
  position: absolute;
}
.desktop .app img {
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.5rem;
}
.desktop .app p {
  color: rgba(255, 255, 255, 0.774);
  font-size: 0.65rem;
  min-width: 100%;
  text-align: center;
}
.desktop .app:hover {
  background-color: #afdce72d;
  border: 2px solid #c9e0e669;
}

.desktop .app-active,
.desktop .app-active:hover {
  background-color: #afdce769;
  border: 2px solid #c9e0e669;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 2.5rem;
  background-color: #362f24;
  justify-content: left !important;
}
.container-icon-windows {
  height: 100%;
  width: 3.3rem;
  cursor: pointer;
}
.container-icon-windows:hover {
  opacity: 0.4;
  background-color: #808080;
}
.icon-windows {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  position: relative;
  width: 100%;
  height: 100%;
}
.container-search,
.container-search-active {
  border: 2px solid #5c5c5c;
  height: 100%;
  width: 17.95%;
  background-color: #333333;
  justify-content: left;
  padding: 0.2rem 0.5rem;
}
.container-search:hover {
  background-color: #4b4b4b;
  border: 2px solid #727272;
}
.container-search i,
.container-search-active i {
  color: rgba(255, 255, 255, 0.774);
  font-size: 1rem;
  font-weight: 100;
  margin-right: 0.85rem;
}
.container-search input,
.container-search-active input {
  height: 100%;
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
}
.container-search input::placeholder {
  color: rgba(255, 255, 255, 0.774);
  font-size: 0.9rem;
}
.container-search-active {
  background-color: #fff;
}
.container-search-active i,
.container-search-active input::placeholder {
  color: #000;
}
.container-open-apps {
  width: 66.3%;
  height: 100%;
  justify-content: left;
}
.container-open-apps .app {
  margin-right: 0.1rem;
  padding: 0.5rem 0.8rem;
  border-bottom: 2px solid #fff;
}
.container-open-apps .app:nth-child(1) {
  margin-left: 0.2rem;
}
.container-open-apps .app:hover {
  background-color: #4b4b4b9f;
}
.container-open-apps .app img {
  width: 1.5rem;
  height: 1.5rem;
}
.container-rigth {
  width: 13%;
  height: 100%;
  color: rgba(255, 255, 255, 0.774);
  justify-content: right;
}
.container-rigth > i,
.container-rigth > div {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 0.4rem;
}
.container-rigth > i {
  font-size: 1rem;
}
.container-rigth > i:hover,
.container-rigth > div:hover {
  background-color: #4b4b4b9f;
}
.container-rigth .fa-angle-up {
  font-size: 1.5rem;
}
.container-rigth .language {
  flex-direction: column;
}
.container-rigth .language p,
.container-date-hour {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.75rem;
}
.container-date-hour {
  flex-direction: column;
}
.container-rigth .fa-wpforms {
  font-size: 1.4rem;
}
.calculator {
  position: absolute;
  top: 10rem;
  left: 2rem;
  transform: scale(0);
  transition: 0.5s;
}
.calculator-active {
  top: 10%;
  left: 50%;
  transform: scale(1);
  transition: 0.5s;
}
